.flex {
	display: flex;
}

.tac {
	text-align: center;
}

.spacer-wide {
	padding: 5rem 0;
}


.ind-page {
	width: 90%;
	margin: 1rem auto;
	padding-bottom: 5rem;

	h2 {
		text-align: center;
		font-size: var(--page--title-size);
		letter-spacing: .2rem;
		margin-bottom: 2.5rem;
		// font-family: var(--front--Family-Lato);
	}
}
